<%= form_for Comment.new, url: entry_comments_path(@entry), remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_field :content, placeholder: t("_comments._form.content") %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>


